@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400,500 &display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: #1C1C1C;
  color: #fff;
}


a{
    color: #fff;
    text-decoration: none;
}


p {
    margin: 0;
}


p + p{
    margin-top: 15px;
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    margin: 0;
}


img {
    max-width: 100%;
}


.container {
box-sizing: border-box;


    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}


.btn{   
display: flex;
align-items: center;
justify-content: center;

font-weight: 500;
font-size: 16px;
text-transform: uppercase;

width: 165px;
height: 50px;

background: #F6762C;
border-radius: 5px;

transition: opacity 0.3s;

}


.btn:hover{
    opacity: 0.8;
}


.btn--small{
width: 140px;
height: 40  px;
font-size: 12px;
}



/*-Шапка*/


.header{
padding: 25px 0;
}


.header .container {
    display: flex;
justify-content: space-between;
align-items: center;
align-items: center;
}


.header__logo{

}


.header__nav{

}


.header__list{
display: flex;
gap: 28px;
}


.header__nav a{
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}


.header__nav a.active{
    opacity: 1;
}


.header__nav a:hover {
    opacity: 0.9;
}



.header__nav a.active{
    opacity: 1;
}






.main{

}

.welcome{
box-sizing: border-box;
min-height: 100vh;

margin-top: -100px;
padding: 270px 0;

background-image: url(/welcome-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}


.welcome__text{
    width: 550px;
}


.welcome__subtitle{
margin-bottom: 7px;
font-size: 14px;
letter-spacing: 0.1em;

color: #FFFFFF;


}


.welcome__title{
font-size: 58px;
}


.welcome__desc{
margin: 40px 0;
font-size: 18px;
opacity: 0.7;
}


.btn{

}




/*-список еды*/

.food-list{
padding: 100px 0;
}


.food-list .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}


.container{

}


.food-list__card{
width: 260px;   

overflow: hidden;
text-align: center;

background: #312f30;
border-radius: 10px;
}


.food-listt__img{
width: 100%;
height: 175px;
object-fit: cover;
}


.food-list__text-wrapper{
    padding: 30px 20px;
}


.food-list__title{
font-size: 20px;
margin-bottom: 15px;
}


.food-list__desc{
font-size: 16px;
opacity: 0.7;
}


.order {
background: #312f30;
padding: 60px 0;
}

.order .container {
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 90px;
}

.order__img {
max-width: 470px;
}

.order__text{
max-width: 360px;
}

.order__title {
margin-bottom: 25px;
font-size: 44px;
}

.order__desc {
opacity: 0.7;
margin-bottom: 15px;
}

.order__price {
font-weight: 500;
font-size: 20px;
letter-spacing: 0.1em;
color: #F6762C;
}

.order__price--old {
font-size: 16px;
text-decoration-line: line-through;
opacity: 0.5;
}


.order_price + .order_price{
margin-left: 3px;
}


.order .btn {
margin-top: 10px;
}

.product{
padding: 150px 0;
}

.product .container{
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
}

.product__card{
    box-sizing: border-box;
width: 555px;
min-height: 300px;
padding: 60px 25px 60px 290px;

background: #494343;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.product__card:nth-child(even){
    padding-left: 0;
    padding-right: 290px;
}

.product__title{
    margin-bottom: 20px;
font-size: 30px;
    }

.product__desc{
margin-bottom: 10px;
opacity: 0.7;
}

.product__price{
font-weight: 500;
letter-spacing: 0.1em;
color: #F6762C;
}

.product__price + .product__price{
    margin-left: 5px;
}

.product__price--old{
text-decoration-line: line-through;
opacity: 0.5;
}

.product .btn{
    margin-top: 10px;
}

.card-queen{
    background-image: url(/product-1.jpg);
}

.card-hut{
    background-image: url(/product-2.jpg);
}

.card-king{
    background-image: url(/product-3.jpg);
}

.card-papa{
    background-image: url(/product-4.jpg);
}

.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
}


.feedback__img {}

.feedback__text {
    margin: 0;
    width: 370px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.feedback__text::before {
    content: url("./images/icons/quote.svg");
}

.feedback__desc {
    opacity: 0.7;
    margin: 30px 0;
}

.feedback__author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback__subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;
}

.download {
padding: 60px 0;
background: #312f30;
}

.download .container{
display: flex;
justify-content: space-around;
}

.download__title {
font-weight: 500;
font-size: 40px;
}

.btn{

}

.footer {
    padding: 120px 0;
}

.footer a {
font-size: 12px;
color: rgba(255, 255, 255, 0.8);
transition: color 0.3s;
}

.footer  a:hover {
color: rgba(255, 255, 255, 0.9);
}

.footer .footer__title {
display: inline-block;
margin-bottom: 15px;
font-weight: 500;
font-size: 16px;
}

.footer .container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "contacts nav socials";
}

.container {

}
.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__logo {
    width: 70px;
    margin-bottom: 20px;
}

.footer__link + .footer__link{
    margin-top: 10px;
}

.footer__link{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__link::before{
    width: 12px;
    height: 12px;
}

.footer__link-mail::before{
    content: url(/icons/mail.svg);
}

.footer__link-web::before{
    content: url(/icons/global.svg);
}

.footer_link-mail {
}
.footer__link-web {
}
.footer__nav {
}
.footer__list {
display: grid;
grid-template-columns: repeat(3, 1fr);
}

.footer__list-title {
}

.footer__inner-list {
}
.footer__list-item + .footer__list-item{
    margin-top: 15px;
}
.footer__socials {
}
.footer__socials-icons {
}
.footer__socials-link {
    margin-left: 8px;
}